@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/LayoutUsuario.cshtml";
}
<h4 class="text-danger">Producto eliminado del carro</h4>

<div>
    <a asp-action="LoadProducts">Seguir comprando</a> | 
    <a asp-action="Index">Ir al carro</a>
</div>