@model ComercioElectronicoMvc.Models.Usuario

@{
    ViewData["Title"] = "Actualizar Contraseña";
    Layout = "~/Views/Shared/LayoutUsuario.cshtml";
}
<h4>Actualizar Contraseña</h4>
<hr />

@if (@ViewData["ErrorMessage"] != null)
{
    <p style="color:red">@ViewData["ErrorMessage"]</p>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="usuarioId" />

            <div class="form-group">
                <label for="contraseñaActual" class="control-label">Contraseña Actual</label>
                <input name="contraseñaActual" type="text" class="form-control" required />
                <span class="field-validation-error text-danger" data-valmsg-for="contraseñaActual" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                <label for="nuevaContraseña" class="control-label">Nueva Contraseña</label>
                <input name="nuevaContraseña" type="text" class="form-control" required />
                <span class="field-validation-error text-danger" data-valmsg-for="nuevaContraseña" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                <label for="repetirContraseña" class="control-label">Repetir Contraseña</label>
                <input name="repetirContraseña" type="text" class="form-control" required />
                <span class="field-validation-error text-danger" data-valmsg-for="repetirContraseña" data-valmsg-replace="true"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="DetailsUser"> Detalles del Usuario </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
